<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/lr_style.css">
    <title>Ingreso Sistema Contable</title>
</head>
<body>
<h2>Bienvenido <strong th:text="${empleado.nombre}"></strong></h2>
<div id="main-content">
    <div class="cont-btn">
        <div class="btn" sec:authorize="isAuthenticated()">
            <a href="/adm-movimientos">Sistema de Gestión de Ingresos y Egresos</a>
        </div>
    </div>
    <div class="cont-btn" >
        <div class="btn" sec:authorize="isAuthenticated()">
            <a href="/adm-empleados">Sistema de Gestión de Usuarios</a>
        </div>

    </div>
    <div class="cont-btn">
        <div class="btn" sec:authorize="isAuthenticated()">
            <a href="/adm-empresas">Sistema de Gestión de Empresas</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>