<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contabilidad empresarial - Registro</title>

    <!-- Custom fonts for this template-->

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/styles/sb-admin-2.min.css}" href="css/" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container" style="max-width: 500px;">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div>
                <div>
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4" th:if="${enterprise.id==0}">Registrar una Empresa!</h1>
                            <h1 class="h4 text-gray-900 mb-4" th:if="${enterprise.id!=0}">Modificar empresa</h1>
                        </div>
                        <form class="user" th:action="@{/enterprises}" th:method="post" th:object="${enterprise}">
                            <input type="hidden" th:if="${enterprise.id!=0}" th:field="*{id}" th:value="${enterprise.id}">
                            <div class="form-group">
                                <input th:field="*{name}" type="text" class="form-control form-control-user"
                                       id="inputname"
                                       placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <input th:field="*{nit}" type="text" class="form-control form-control-user"
                                       id="inputnit"
                                       placeholder="Nit">
                            </div>
                            <div class="form-group">
                                <input th:field="*{adress}" type="text" class="form-control form-control-user"
                                       id="inputadress"
                                       placeholder="Adress">
                            </div>
                            <button class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                            <div class="text-center">
                                <a class="small" href="/home">Regresar!</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>

</html>